computate-smart-website-builder
computate-smart-cloud-deployer
target/**
computate-smart-website-builder
computate-smart-cloud-deployer
.flattened-pom.xml
.vscode
*.code-workspace
bin/generate.sh
bin/generateonce.sh
bin/index.sh
bin/indexonce.sh
bin/watch.sh
bin/watchnow.sh
*.code-workspace
